.button {
  border: none;
  background-color: rgba(223, 23, 23, 0.997);
  border-radius: 20px;
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: green;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
}

.badge {
  background-color: #b94517;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}
